<li id="micropost-<%= micropost.id %>">
  <div class="micropost-header">
    <%= link_to gravatar_for(micropost.user, size: 30), micropost.user %>
    <span class="name"><%= link_to micropost.user.name, micropost.user %></span>
    <span class="timestamp">
      <%= time_ago_in_words(micropost.created_at) %>
      <% if current_user?(micropost.user) %>
        <%= link_to "delete", micropost, method: :delete,
                    data: { confirm: "Are you positive?" } %>
      <% end %>
    </span>
  </div>
  <div class="micropost-image">
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </div>
  <div class="micropost-text">
    <span class="content">
    <%= micropost.content %>
    </span>
  </div>
</li>